.form {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 25px;

	width: 320px;

	padding: 40px 30px 50px;
	background: #fff;
	border-radius: 12px;

	color: #212121;
	box-sizing: border-box;

	box-shadow: 0px 0px 15px #181818;
}
.title {
	margin: 0;
}
.form-content {
	display: flex;
	flex-direction: column;
	gap: 10px;

	width: 100%;
}
