.form {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 25px;

	width: 320px;

	padding: 40px 30px 50px;
	background: #fff;
	border-radius: 12px;

	color: #212121;
	box-sizing: border-box;

	box-shadow: 0px 0px 15px #181818;
}
.title {
	margin: 0;
}
.form-content {
	display: flex;
	flex-direction: column;
	gap: 10px;

	width: 100%;
}
.label {
	display: flex;
	flex-direction: column;
	gap: 3px;
}
.label input {
	outline: none;
	border-radius: 7px;
	padding: 10px 18px;

	transition: 0.1s ease-in-out;
}
.label input:focus {
	border: 2px solid coral;
}

.btn {
	font-size: 16px;

	padding: 10px 0;
	margin-top: 5px;

	border: none;
	outline: none;
	border-radius: 7px;

	border: 2px solid transparent;
	background: rgba(255, 127, 80, 0.6);

	cursor: pointer;
	transition: 0.1s ease-in-out;
}
.btn:hover {
	background: coral;
	border: 2px solid rgba(255, 127, 80, 0.5);
}
.btn:disabled {
	opacity: 0.7;
	border-color: rgb(240, 240, 240);
	background: rgb(240, 240, 240);
}
