.label {
	display: flex;
	flex-direction: column;
	gap: 3px;
}
.label input {
	outline: none;
	border-radius: 7px;
	padding: 10px 18px;

	transition: 0.1s ease-in-out;
}
.label input:focus {
	border: 2px solid coral;
}
